{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": true,
                    "esmodules": true
                },
                "modules": false
            }
        ]
    ],
    "env": {
        "test": {
          "plugins": ["@babel/plugin-transform-modules-commonjs"]
        }
      }
}
